<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="app" ng-controller="expCont" >
<div class="container center">

    <div ng-repeat="experimento in experimentos">   
        <p>{{ experimento.id }}. {{ experimento.titulo }}</p>
        <h3>Puntos: {{ experimento.puntuacion }}</h3>
        <div class="row">
            <p>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 1 }}" value="1" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 1 }}">1</label>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 2  }}" value="2" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 2 }}">2</label>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 3  }}" value="3" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 3 }}">3</label>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 4  }}" value="4" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 4 }}">4</label>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 5  }}" value="5" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 5 }}">5</label>
            </p><p>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 6  }}" value="6" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 6 }}">6</label>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 7  }}" value="7" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 7 }}">7</label>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 8  }}" value="8" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 8 }}">8</label>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 9  }}" value="9" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 9 }}">9</label>
            <input type="radio" name="{{'voto'+experimento.id}}" id="{{ 'object-' + experimento.id + 10  }}" value="10" ng-model="experimento.puntuacion">
            <label for="{{ 'object-' + experimento.id + 10 }}">10</label>
            <p>
        </div>
    </div>
    <div ng-repeat="experimento in experimentos">
        <p> {{ experimento.id }} : {{  experimento.puntuacion }}</p>
    </div>
    Average: {{calculateAverage(experimentos)}}
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="angular.min.js"></script> 
<script type="text/javascript" src="app.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</body>
</html>